<%- include('partials/head') %>
<%- include('partials/nav') %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel=StyleSheet href="./stylesheets/style.css" type="text/css">
  </head>
<hr>
  <body>
    <h1>Leaderboard</h1>
    <h2>Course Leaderboard</h2>
    <div id="leaderboard1">
      <div class="row">
          <div class="name">Player1</div><div class="score">430</div>
      </div>
      
      <div class="row">
          <div class="name">Player2</div><div class="score">580</div>
      </div>
      
      <div class="row">
          <div class="name">Player3</div><div class="score">310</div>
      </div>
      
      <div class="row">
          <div class="name">Player4</div><div class="score">640</div>
      </div>
      
      <div class="row">
          <div class="name">Player5</div><div class="score">495</div>
      </div>

    </div>
    <h2>Cohort Leaderboard</h2>
    <div id="leaderboard2">
      <div class="row">
          <div class="name">Player1</div><div class="score">430</div>
      </div>
      
      <div class="row">
          <div class="name">Player2</div><div class="score">580</div>
      </div>
      
      <div class="row">
          <div class="name">Player3</div><div class="score">310</div>
      </div>
      
      <div class="row">
          <div class="name">Player4</div><div class="score">640</div>
      </div>
      
      <div class="row">
          <div class="name">Player5</div><div class="score">495</div>
      </div>

    </div>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        let elements = []
        let container = document.querySelector('#leaderboard1')
        container.querySelectorAll('.row').forEach(el => elements.push(el))
        container.innerHTML = ''
        elements.sort((a, b) => b.querySelector('.score').textContent - a.querySelector('.score').textContent)
        elements.forEach(e => container.appendChild(e))
      })

      document.addEventListener('DOMContentLoaded', () => {
        let elements = []
        let container = document.querySelector('#leaderboard2')
        container.querySelectorAll('.row').forEach(el => elements.push(el))
        container.innerHTML = ''
        elements.sort((a, b) => b.querySelector('.score').textContent - a.querySelector('.score').textContent)
        elements.forEach(e => container.appendChild(e))
      })


    </script>
  </div>
  </body>
</html>