<%- include('partials/head') %>
<%- include('partials/nav') %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel=StyleSheet href="./stylesheets/style.css" type="text/css">
  </head>
<hr>
  <body>
    <h1>Milestones</h1>
    <p>We are building a multi-page Express app with EJS!</p>
  </body>
</html>