body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.username{
  padding: 100px;
  text-align: justify;
  background: #eb34d2;
  color: #FFFFFF;
  font-size: 3px;
}
