<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>User Profile</title>
    
  </head>
  <body>
    <div class="username">
      <h1>User Name</h1>
      <img>
    </div>
    </div>
    <div>
      <h2>KSBs</h2>
    <div class="progress-bar">
      <div class="" style="height:24px;width:25%"></div>
    </div><br>
    
    <div class="progress-bar">
      <div class="" style="height:24px;width:50%"></div>
    </div><br>
    </div>

    <div class="w3-panel w3-border w3-hover-border-red">
      <h2>OTJs</h2>
    </div>

      
  </div>
  </body>
</html>